[user]
        name = Varun Kohli
    email = vkohli5@bloomberg.net
[http]  
    proxy = https://devproxy.bloomberg.com:82   
    sslVerify = false
[diff]
    tool = tkdiff

[difftool]    
    prompt = false
[push]
        default = simple
[hub]
        host = bbgithub.dev.bloomberg.com
[core]
        whitespace = cr-at-eol
